.toggle-button {
  height: 2.8rem;
  width: 5.5rem;
}

.toggle-button svg {
  width: 1.7rem;
}

/* Large devices (laptops/desktops, 992px and up) - point of expansion */
@media only screen and (min-width: 992px) {
  .toggle-button {
    height: 3rem;
    width: 6rem;
  }

  .toggle-button svg {
    width: 1.9rem;
  }
}
