.experience {
  margin-bottom: -100px;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

.job-title {
  display: flex;
  font-weight: bold;
  font-size: 1.3em;
  align-items: center;
}

.single-desc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 85%;
}

.single-desc p {
  margin-bottom: 10px;
}

.tech-stack {
  margin-top: 1.3em;
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .single-desc {
    font-size: 1.05em;
  }
}
