.experience {
  margin-bottom: -130px;
}

.job-title {
  font-weight: bold;
  font-size: 1.3em;
}

.single-desc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 85%;
  font-size: 1.05em;
}

.single-desc p {
  margin-bottom: 10px;
}

.tech-stack {
  margin-top: 1.3em;
}
