.wave-icon {
  font-size: 1.7em;
}

.intro {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 50px;
}

.top {
  margin-bottom: -130px;
  margin-top: 50px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.25s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.job {
  display: flex;
  font-size: 1.2em;
  margin-bottom: 40px;
  align-items: center;
}

@media only screen and (min-width: 1600px) {
  .intro {
    font-size: 1.5em;
  }
}
