.underline {
  display: block;
  font-weight: 600;
}

.underline::after {
  width: 0;
}

.underline:hover::after {
  width: 100%;
}

.wave-icon {
  font-size: 1.7em;
}

.intro {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 50px;
}

.top {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -130px;
  margin-top: 50px;
}

.school {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.school * {
  display: inline;
}

@media only screen and (min-width: 1600px) {
  .intro {
    font-size: 1.5em;
  }
}
