* {
  margin: 0;
  padding: 0;
}

/* Default styling for mobile */
.app {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1C1C1C;
}

.app h1 {
  font-size: 1.8em;
  font-weight: bolder;
}

.app h2 {
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.app a {
  color: inherit;
}

.main-app {
  padding: 0 20px;
}

/* Tablets styling */
@media screen and (min-width: 640px) {

}

/* Laptops and desktop styling */
@media screen and (min-width: 1008px) {

}
