/* Reset and scroll */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 59px;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

