.projects {
  margin-bottom: -100px;
}

.project-image {
  border-radius: 40px;
  box-shadow: 0 0 5px 1px #7a7a7a;
  justify-self: center;
  width: 100%;
}

.links {
  display: grid;
  grid-auto-flow: row;
}

.app-link {
  margin-bottom: 6px;
}

.code-link {
  margin-bottom: 26px;
}

.single-project p {
  color: #707070;
  margin-bottom: 1em;
}

.links a::after {
  width: 100%;
}

.links a:hover::after {
  background: transparent;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 760px) {
  .single-project p {
    margin-bottom: 1.4em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .single-project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
  }

  .project-image {
    align-self: center;
    height: 70%;
    width: 50%;
  }
}
