.projects {
  margin-top: 120px;
}

.project-image {
  justify-self: center;
  padding: 0 5px;
  width: 100%;
}

.links {
  display: grid;
  grid-auto-flow: row;
}

.app-link {
  margin-bottom: 6px;
}

.code-link {
  margin-bottom: 26px;
}

.single-project p {
  color: #707070;
}

.single-project a {
  text-decoration: underline;
  width: fit-content;
}
